.line{
  display: inline-block;
  margin-top: 60px;
}
img{
  border-style: solid;
  border-color: black;
}
.trenta{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}
div{
  display: inline-block;
}
.crema{
  position: relative;
}
.collana{
  position: relative;
}
.vino{
  position: relative;
}
#cinque{
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}
.structure{
  margin:auto;
  width: 80%;
}
